<main class="flex flex-col max-w-[550px] md:max-w-screen gap-12">
  <div class="flex flex-col max-w-[1020px] gap-6">
    <h1 class="text-4xl font-bold text-white">Projects</h1>
    <div
      class="bg-gradient-to-r from-gold to-gold-darker rounded-full border border-[2px] border-gold h-[6px] w-[8%]"
    ></div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
      <!-- first project -->
       <a href="https://github.com/EhabAhmed1111/SmartCourse" target="_blank" class="cursor-pointer border border-[2px] border-gray-800 shadow-md shadow-gold p-6 rounded-[30px] overflow-hidden max-h-[400px] max-w-[460px]">
         <div class="flex flex-col items-center justify-center gap-6 ">
           <img class="w-[200px] h-[200px] rounded-[30px]" src="Android-project.jpeg" alt="Smart Course">
          <h1 class="text-white text-[20px] md:text-[26px] font-bold">EdTech</h1>
          <p class="text-not-important text-[22px]">Android application for course management</p>
        
      </div>
    </a>
    
    

         <div class="relative flex flex-col items-center justify-center gap-6 border border-[2px] border-gray-800 shadow-md shadow-gold p-6 rounded-[30px] ">
           <img class="w-[200px] h-[200px] rounded-[30px]" src="images.jpeg" alt="E-commerce">
           
          <h1 class="text-white text-[26px] font-bold">Global E-commerce</h1>
          <p class="text-not-important text-[22px]">Full-stack application for e-commerce</p>
          
            <div class="absolute -top-6 -left-6 cursor-pointer border border-[2px] border-gray-800 shadow-md shadow-gold p-2 rounded-[500px]">
              <a href="https://github.com/EhabAhmed1111/globalE-commerce" target="_blank" class="text-white hover:text-gold">Back-end</a>
            </div>
            <div class="absolute -top-6 -right-6 cursor-pointer border border-[2px] border-gray-800 shadow-md shadow-gold p-2 rounded-[500px]">
              <a href="https://github.com/EhabAhmed1111/e-commerce-front" target="_blank" class="text-white hover:text-gold">Front-end</a>
            </div>
        </div>

        <a href="https://github.com/EhabAhmed1111/my-portfolio" target="_blank" class="cursor-pointer border border-[2px] border-gray-800 shadow-md shadow-gold p-6 rounded-[30px] overflow-hidden max-h-[400px] max-w-[460px]">
         <div class="flex flex-col items-center justify-center gap-6 ">
           <img class="w-[200px] h-[200px] rounded-[30px]" src="my-portfolio.avif" alt="Smart Course">
          <h1 class="text-white text-[20px] md:text-[26px] font-bold">My Portfolio</h1>
          <p class="text-not-important text-[22px]">Angular application for portfolio </p>
        
      </div>
    </a>
    
    </div>
    



  </div>
  </main>